<h1>Your booking</h1>

<div class="container">
  <%= simple_form_for [@planet, @booking] do |f| %>
    <%= f.input :arrival_date, as: :date, html5: true %>
    <%= f.input :departure_date, as: :date, html5: true %>
    <%= f.input :number_of_places %>
    <%= f.button :submit %>
  <% end %>
</div>
