<div>
  <%= link_to 'Add a planet', new_planet_path %>
</div>

<div class="container">
  <% @planets.each do |planet| %>
    <div class="featured-posts">
	    <div class="card-grid">
		    <article class="mini-card">
			    <header class="mini-card-header">
            <% if planet.photo.attached? %>
				      <div class="mini-card-thumbnail" style='background-image: <%= cl_image_tag planet.photo.key %>;'></div>
            <% else %>
              <div class="mini-card-thumbnail" style='background-image: url("https://i.pinimg.com/originals/21/c7/3a/21c73ae28de02eaeee9dc34a22e0aadf.jpg");'></div>
            <% end %>
				    <h2 class="mini-card-title">
					    <a href="http://acf-demo.local/travel-post-1/"> <%= link_to planet.name, planet_path(planet) %></a>
				    </h2>
			    </header>
			    <div class="mini-card-body">
				    <div class="mini-card-meta">
              <p><%= link_to 'Edit', edit_planet_path(planet) %>
                  <%= link_to 'Delete', planet_path(planet),
                              method: :delete,
                              data: { confirm: "Are you sure?" }%>
              </p>
				    </div>
			    </div>
		    </article>
	    </div>
    </div>
  <% end %>
</div>
