<h2>Ready to travel ? <i class="fas fa-suitcase-rolling"></i></h2>
<br>
<div class="container">
<div class="row justify-content-center">
  <% @planets.each do |planet| %>
      <div class="col-4">
        <div class="carte">
            <div class="carte-image">
              <% if planet.photo.attached? %>
                <%= cl_image_tag planet.photo.key %>
              <% else %>
                <div class="mini-card-thumbnail" style='background-image: url("https://i.pinimg.com/originals/21/c7/3a/21c73ae28de02eaeee9dc34a22e0aadf.jpg");'></div>
              <% end %>
            </div>

            <div class="carte-body">

              <div class="carte-name">
                <p><a href="http://acf-demo.local/travel-post-1/"> <%= link_to planet.name, planet_path(planet) %></a> <i class="fas fa-globe-asia"></i></p>
               </div>

              <div class="carte-title">
                <p><%= truncate(planet.description, length: 250) %></p>

              </div>

              <div class="carte-excerpt">
            <% if policy(planet).edit? %>
              <%= link_to 'Edit', edit_planet_path(planet) %>
            <% end %>
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
  <div class="col-1"></div>
  <% end %>
  </div>
</div>
<br>
<div>
  <h2><%= link_to 'Add a planet', new_planet_path %></h2>
</div>
