<br>
<br>
<br>
<br>
<br>
<br>
<div class="carte">
<h1>Planet <%= @planet.name %></h1>

  <div>
    <h2>Infos</h2>
    <br>

      <div>
        <% if @planet.photo.attached? %>
          <%= cl_image_tag @planet.photo.key, height: 300, crop: :fill %>
        <% else %>
          <%= 'https://menaiortho.com.au/wp-content/uploads/2015/03/banner-placeholder.jpg' %></div>
        <% end %>
        <br>
        <ul>
          <li><strong>Planet's owner</strong> : <%= @planet.user.name %></li>
          <li><strong>Planet's name</strong> : <%= @planet.name %></li>
          <li><strong>Planet's address</strong> : <%= @planet.address %></li>
          <li><strong>Available places</strong> : <%= @planet.available_places %></li>
          <li><strong>Price for 1 night</strong> : <%= @planet.price_per_night %> Republican Credits</li>
        </ul>
      <div>
</div>
  <%= link_to 'Back to list', planets_path %>
</div>


<%# test %>
