<div><br>
<br>
<br>
<br></div>
<div class="flex-card">
  <div class="flex-container">
    <figure class="image-container">
      <% if @planet.photo.attached? %>
        <%= cl_image_tag @planet.photo.key, height: 300, crop: :fill %>
      <% else %>
        <img src="https://i.pinimg.com/originals/21/c7/3a/21c73ae28de02eaeee9dc34a22e0aadf.jpg" alt="" height="300px" class="image-prop">
      <% end %>
    </figure>
    <div class="image-prop" style="background-color:#fff">
      <div class="flex-container">
        <h1><%= @planet.name %></h1>
      </div>
      <div class="flex-container">
        <h2>Planet infos</h2>
      </div>
      <div class="info-planet">

        <ul>
          <li><strong>Planet's owner</strong> : <%= @planet.user.name %></li>
          <li><strong>Planet's name</strong> : <%= @planet.name %></li>
          <li><strong>Planet's address</strong> : <%= @planet.address %></li>
          <li><strong>Available places</strong> : <%= @planet.available_places %></li>
          <li><strong>Price for 1 night</strong> : <%= @planet.price_per_night %> Republican Credits</li>
          <li><strong>Climat</strong> : <%= @planet.climat %>s</li>
          <li><strong>Specie living on</strong> : <%= @planet.specie %></li>
          <li><strong>What do do here</strong> : <%= @planet.activity %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
