<h1>Hello <%= @user.name %></h1>

<div>
<p>Your full name:<%= @user.name %></p>
<p>Your email:<%= @user.email %></p>
<p>Your phone number:<%= @user.phone_number %></p>
</div>

<div>
  <h4>Your trips</h4>
  <ul>
    <% @bookings.each do |booking| %>
      <% @planet = booking.planet %>
      <% if booking.status != 'Declined' %>
        <li><%= @planet.name %> (<%= booking.status %>) -
            from <%= booking.arrival_date %>
            to <%= booking.departure_date %> -
            <%= booking.total_price %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<div>
  <h4>Your bookings</h4>
</div>

<% console %>
