<h1>Hello <%= current_user.name %></h1>

<div>
  <p><strong>Your full name</strong>: <%= @user.name %></p>
  <p><strong>Your email</strong>: <%= @user.email %></p>
  <p><strong>Your phone number</strong>: <%= @user.phone_number %></p>
  <p><%= link_to 'Edit profil', edit_user_registration_path %></p>
</div>

<div>
  <h3>Your trips</h3>
  <ul>
    <% @requested_bookings.reverse.each do |booking| %>
      <% planet = booking.planet %>
      <% if booking.status != 'Declined' %>
        <li>
          <%= link_to 'Cancel', booking_path(booking), method: :delete, data: { confirm: 'Are you sure ?'} %> |
          <%= planet.name %> (<%= booking.status %>) -
          from <%= booking.arrival_date %>
          to <%= booking.departure_date %> -
          <%= booking.total_price %> RP
        </li>
        <p>You will live on <%= planet.user.name %>'s planet</p>
      <% end %>
    <% end %>
  </ul>
</div>
<br>

<div>
  <h3>Your accepted bookings</h3>
  <ul>
    <% @bookings_on_my_planets.each do |booking| %>
      <% planet = booking.planet %>
      <% if booking.status == 'Accepted'%>
        <li>
            <%= link_to 'Reject', reject_booking_path(booking), method: :patch %>
          <%= planet.name %> (<%= booking.status %>) -
          from <%= booking.arrival_date %>
          to <%= booking.departure_date %> -
          <%= booking.total_price %> RP
        </li>
          <p>Requested by <%= booking.user.name %></p>
      <% end %>
    <% end %>
  </ul>
</div>

<div>
  <h3>Please accept or reject those requests asap</h3>
  <ul>
    <% @bookings_on_my_planets.each do |booking| %>
      <% planet = booking.planet %>
      <% if booking.status == 'Pending' %>
        <li>
            <%= link_to 'Reject', reject_booking_path(booking), method: :patch %>
            <%= link_to 'Accept', accept_booking_path(booking), method: :patch %> |
          <%= planet.name %> (<%= booking.status %>) -
          from <%= booking.arrival_date %>
          to <%= booking.departure_date %> -
          <%= booking.total_price %> RP
        </li>
          <p>Requested by <%= booking.user.name %></p>
      <% end %>
    <% end %>
  </ul>
</div>

<br>
